p:not(li p, blockquote p, pre p) {
  text-align: justify;
  text-indent: 2em;
}
/* P::before {
  counter-increment: p;
  content: counter(p);
  font-size: 1.5rem;
  font-weight: 400;
  color: orangered;
  margin-right: 0.5rem;
} */
ul {
  list-style:none;
  /* display: flex;
  flex-wrap: wrap; */
  padding-inline-start: 0px;
}